<h2>Show thing</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @thing.name %>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @thing.weight %>
  </li>

</ul>

<%= link "Edit", to: thing_path(@conn, :edit, @thing) %>
<%= link "Back", to: thing_path(@conn, :index) %>
